<div class="container no-bottom">
    <div class="toggle-container-v1"> 
        <div class="toggle-v1">
            <a href="#" class="show-toggle-v1" style="display: none;">Content Is Shown!</a>
            <a href="#" class="hide-toggle-v1">Content Is Hidden!</a>
            <div class="clear"></div>
            <div class="toggle-content-v1" style="display: none;">
                <div class="toggle-decoration-v1"></div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                     when an unknown printer took a galley of type and scrambled it to make a type 
                     specimen book. It has survived not only five centuries, but also the leap 
                     into electronic typesetting, remaining essentially unchanged. It was 
                     popularised in the 1960s with the release of Letraset sheets containing 
                     Lorem Ipsum passages, and more recently with desktop publishing software
                     like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <div class="psf-controls">
                    <%= link_to 'Discard', '#', class: "no-bottom demo-button button-minimal red-minimal discard" %>
                    <%= link_to 'Accept', '#', class: "no-bottom demo-button button-minimal green-minimal accept" %>
                </div>
            </div> 
        </div> 
    </div>
</div>