<div class="container center">
	<h1>Welcome, <%= current_user.email %></h1>
</div>

<div class="container psf-box">
	<% if @psf_items.any? %>
		<%= render partial: 'psf_item', collection: @psf_items %>
	<% end %>
</div>