<% provide(:title, 'About') %>

<h1>Information Center <br>
<small>Here are answers to frequently asked questions.</small></h1><br>

<h4 class="text-error text-danger">What is NOSSYM?</h4>
<p class="text-info">
	NOSSYM stands for NCCF's Online System - simple, right?<br>
	Its purpose is to provide online access to traditionally handwritten or printed forms. Any form submitted through this system has a digital trail, and is brought to the attention of the necessary person.
</p><br>

<h4 class="text-error text-danger">How do I fill out a form?</h4>
<p class="text-info">
	Filling out forms is simple and quick! To find the form you need, simply use the navigation bar at the top of each page, select the form you need, and fill in the information. It is that easy!
</p><br>

<h4 class="text-error text-danger">Who sees the information I submit?</h4>
<p class="text-info">
	Only necessary staff who are required to view the information, and subsequent conversation, are able to view your submissions. Of course, if others outside the obvious staff member(s) require information to bring a resolution to your submission, they will be granted the necessary information. <br>
	<strong>e.g. Volunteer staff setting up a requested venue who need to know how many tables &amp; chairs to set out.</strong>
</p><br>