<% provide(:title, 'Help') %>

<h1>Information Center <br>
<small>Here are answers to frequently asked questions.</small></h1><br>

<div class="accordion" id="info-accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#collapseOne" class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"><h4 class="text-error text-danger">What is NOSSYM?</h4></a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
				<p class="text-info">
					NOSSYM stands for NCCF's Online System - simple, right?<br>
					Its purpose is to provide online access to traditionally handwritten or printed forms. Any form submitted through this system has a digital trail, and is brought to the attention of the necessary person.
				</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#collapseTwo" class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"><h4 class="text-error text-danger">How do I fill out a form?</h4></a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<p class="text-info">
					Filling out forms is simple and quick! To find the form you need, simply use the navigation bar at the top of each page, select the form you need, and fill in the information. It is that easy!
				</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#collapseThree" class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"><h4 class="text-error text-danger">Who sees the information I submit?</h4></a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				<p class="text-info">
					Only necessary staff who are required to view the information, and subsequent conversation, are able to view your submissions. Of course, if others outside the obvious staff member(s) require information to bring a resolution to your submission, they will be granted the necessary information. <br>
					<strong>e.g. Volunteer staff setting up a requested venue who need to know how many tables &amp; chairs to set out.</strong>
				</p>
			</div>
		</div>
	</div>
</div>

