<% provide(:title, 'Contact') %>

<h1>Get In Touch With Us</h1>
<p>If you have questions about this system or its use, fill in the comment card below for an answer to your inquiry.</p>
<div class="panel">
	<div class="panel-heading">
		<h4 class="panel-title">Comment Card</h4>
	</div>
	<form class="">
		<fieldset>
			<legend></legend>
			<div class="form-group">
				<label for="exampleInputEmail">Email address</label>
				<input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
			</div>
			<div class="comment">
				<textarea class="form-control" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</fieldset>
	</form>
</div>

<br>
<h4>Or if you prefer to be a bit more personal!</h4>
<h5 class="text-warning">Send us a letter</h5>
<address>
	<strong>New Creation Christian Fellowship</strong><br>
	8700 Four Winds Dr<br>
	Windcrest, Tx 78239<br>
	<abbr title="Phone">P:</abbr>&nbsp;(210) 646-7997
</address>
<h5 class="text-warning">Send us an e-mail</h5>
<address>
	<strong>Ans R. Giver</strong><br>
	<a href="mailto:#">ansr.giver@nccf-sa.org</a>
</address>