<% provide(:title, 'Help') %>

<div class="container">
<h1>Information Center</h1>
<small>Here are answers to frequently asked questions.</small><br>
</div>

<div class="container no-bottom">
   <div class="toggle-container-v1"> 
       <div class="toggle-v1">
           <a href="#" class="show-toggle-v1" style="display: none;">What is NOSSYM?</a>
           <a href="#" class="hide-toggle-v1">What is NOSSYM?</a>
           <div class="clear"></div>
           <div class="toggle-content-v1" style="display: none;">
               <div class="toggle-decoration-v1"></div>
					<p class="text-info">
						NOSSYM stands for NCCF's Online System - simple, right?<br>
					Its purpose is to provide online access to traditionally handwritten or printed forms. Any form submitted through this system has a digital trail, and is brought to the attention of the necessary person.
					</p>
           </div> 
       </div> 
   </div>
</div>

<div class="container no-bottom">
   <div class="toggle-container-v1"> 
       <div class="toggle-v1">
           <a href="#" class="show-toggle-v1" style="display: none;">How do I fill out a form?</a>
           <a href="#" class="hide-toggle-v1">How do I fill out a form?</a>
           <div class="clear"></div>
           <div class="toggle-content-v1" style="display: none;">
               <div class="toggle-decoration-v1"></div>
					<p class="text-info">
						Filling out forms is simple and quick! To find the form you need, simply use the navigation bar at the top of each page, select the form you need, and fill in the information. It is that easy!
					</p>
           </div> 
       </div> 
   </div>
</div>

<div class="container no-bottom">
   <div class="toggle-container-v1"> 
       <div class="toggle-v1">
           <a href="#" class="show-toggle-v1" style="display: none;">Who sees the information I submit?</a>
           <a href="#" class="hide-toggle-v1">Who sees the information I submit?</a>
           <div class="clear"></div>
           <div class="toggle-content-v1" style="display: none;">
               <div class="toggle-decoration-v1"></div>
					<p class="text-info">
						Only necessary staff who are required to view the information, and subsequent conversation, are able to view your submissions. Of course, if others outside the obvious staff member(s) require information to bring a resolution to your submission, they will be granted the necessary information. <br>
						<strong>e.g. Volunteer staff setting up a requested venue who need to know how many tables &amp; chairs to set out.</strong>
					</p>
           </div> 
       </div> 
   </div>
</div>