<% if user_signed_in? %>
	<%= render 'home_content' %>
<% else %>
	<div class="center hero-unit">
		<h1>NOS Management System</h1>

		<p>The online management system for New Creation Christian Fellowship!</p>

		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div> <br>

	<hr>

	<div class="row-fluid">
		<div class="span3 offset1">
			<h2>Get in touch with us quickly!</h2>
			<p>We've brought our paper forms online for faster submission and easier management! </p>
		</div><!--/span-->
		<div class="span3">
			<h2>Very optimized!</h2>
			<p>The online service is engineered to help productivity. As such, it has been designed with mobile usage in mind! </p>
		</div><!--/span-->
		<div class="span3">
			<h2>Documented for everyone!</h2>
			<p>We are making sure you will have help using the system by keeping helpful guides covering basic functionality! </p>
		</div><!--/span-->
	</div><!--/row-->
<% end %>