@charset "utf-8";
/* CSS Document */

.replace-2x {
	font-size: 1px;
}

@media all and (-webkit-min-device-pixel-ratio:2) {
		
	.deploy-left-sidebar{	background-image:url(<%= asset_path 'misc/nav@2x.png' %>);	 			-webkit-background-size: 18px 12px;}
	.deploy-right-sidebar{	background-image:url(<%= asset_path 'misc/contact@2x.png' %>);	 	-webkit-background-size: 18px 12px;}
	
	.nav-home{		background-image:url(<%= asset_path 'navigation/home@2x.png' %>);	 	-webkit-background-size: 51px 51px;}
	.nav-about{		background-image:url(<%= asset_path 'navigation/about@2x.png' %>);	 -webkit-background-size: 51px 51px;}
	.nav-features{	background-image:url(<%= asset_path 'navigation/features@2x.png' %>); -webkit-background-size: 51px 51px;}
	
	.nav-portfolio{	background-image:url(<%= asset_path 'navigation/folio@2x.png' %>);	-webkit-background-size: 51px 51px;}
	.nav-videos{	background-image:url(<%= asset_path 'navigation/video@2x.png' %>);	-webkit-background-size: 51px 51px;}
	.nav-blog{		background-image:url(<%= asset_path 'navigation/blog@2x.png' %>);		-webkit-background-size: 51px 51px;}
	
	.nav-mobile{	background-image:url(<%= asset_path 'navigation/phone@2x.png' %>);	-webkit-background-size: 51px 51px;}
	.nav-sms{		background-image:url(<%= asset_path 'navigation/chat@2x.png' %>);		-webkit-background-size: 51px 51px;}
	.nav-mail{		background-image:url(<%= asset_path 'navigation/mail@2x.png' %>);		-webkit-background-size: 51px 51px;}
	
	.icon-heading{	background-image:url(<%= asset_path 'navigation/heading@2x.png' %>);	-webkit-background-size: 20px 20px;}

	.deploy-share{	background-image:url(<%= asset_path 'navigation/go-home@2x.png' %>); -webkit-background-size:16px 16px;}
	.deploy-menu{	background-image:url(<%= asset_path 'navigation/nav-deploy@2x.png' %>); -webkit-background-size:16px 16px;}

	
	
	.swipe-null-box{	background-image:url(<%= asset_path 'ui/empty@2x.png' %>); -webkit-background-size:16px 16px;}
	.swipe-check-box{	background-image:url(<%= asset_path 'ui/cross@2x.png' %>); -webkit-background-size:16px 16px;}
	.swipe-tick-box{	background-image:url(<%= asset_path 'ui/tick@2x.png' %>);	 -webkit-background-size:16px 16px;}
	
	.list-address{			background-image:url(<%= asset_path 'lists/address_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-block{			background-image:url(<%= asset_path 'lists/block_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-bookmark{			background-image:url(<%= asset_path 'lists/bookmark_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-briefcase{		background-image:url(<%= asset_path 'lists/briefcase_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-bubble{			background-image:url(<%= asset_path 'lists/bubble_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-buy{				background-image:url(<%= asset_path 'lists/buy_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-calendar{			background-image:url(<%= asset_path 'lists/calendar_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-clipboard{		background-image:url(<%= asset_path 'lists/clipboard_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-delete{			background-image:url(<%= asset_path 'lists/delete_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-clock{			background-image:url(<%= asset_path 'lists/clock_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-diagram{			background-image:url(<%= asset_path 'lists/diagram_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-document{			background-image:url(<%= asset_path 'lists/document_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-down{				background-image:url(<%= asset_path 'lists/down_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-flag{				background-image:url(<%= asset_path 'lists/flag_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-folder{			background-image:url(<%= asset_path 'lists/folder_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-gear{				background-image:url(<%= asset_path 'lists/gear_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-globe{			background-image:url(<%= asset_path 'lists/globe_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-heart{			background-image:url(<%= asset_path 'lists/heart_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-help{				background-image:url(<%= asset_path 'lists/help_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-home{				background-image:url(<%= asset_path 'lists/home_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-key{				background-image:url(<%= asset_path 'lists/key_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-label{			background-image:url(<%= asset_path 'lists/label_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-left{				background-image:url(<%= asset_path 'lists/left_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-letter{			background-image:url(<%= asset_path 'lists/letter_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-monitor{			background-image:url(<%= asset_path 'lists/monitor_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-pencil{			background-image:url(<%= asset_path 'lists/pencil_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-plus{				background-image:url(<%= asset_path 'lists/plus_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-present{			background-image:url(<%= asset_path 'lists/present_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-print{			background-image:url(<%= asset_path 'lists/print_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-right{			background-image:url(<%= asset_path 'lists/right_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-save{				background-image:url(<%= asset_path 'lists/save_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-shield{			background-image:url(<%= asset_path 'lists/shield_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-statistics{		background-image:url(<%= asset_path 'lists/statistics_32.png' %>);	-webkit-background-size:16px 16px; }
	.list-stop{				background-image:url(<%= asset_path 'lists/stop_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-tick{				background-image:url(<%= asset_path 'lists/tick_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-trash{			background-image:url(<%= asset_path 'lists/trash_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-up{				background-image:url(<%= asset_path 'lists/up_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-user{				background-image:url(<%= asset_path 'lists/user_32.png' %>);			-webkit-background-size:16px 16px; }
	.list-walet{			background-image:url(<%= asset_path 'lists/wallet_32.png' %>);		-webkit-background-size:16px 16px; }
	.list-warning{			background-image:url(<%= asset_path 'lists/warning_32.png' %>);		-webkit-background-size:16px 16px; }


	.show-toggle-v5{		background-image:url(<%= asset_path 'ui/minus@2x.png' %>);			-webkit-background-size:12px 12px;		}
	.hide-toggle-v5{		background-image:url(<%= asset_path 'ui/plus@2x.png' %>);				-webkit-background-size:12px 12px;		}
	
	.show-toggle-v4{		background-image:url(<%= asset_path 'lists/delete_32.png' %>);		-webkit-background-size:16px 16px;		}
	.hide-toggle-v4{		background-image:url(<%= asset_path 'lists/plus_32.png' %>);			-webkit-background-size:16px 16px;		}
	
	.show-toggle-v3{		background-image:url(<%= asset_path 'ui/switch-on@2x.png' %>); 		-webkit-background-size:61px 27px;		}
	.hide-toggle-v3{		background-image:url(<%= asset_path 'ui/switch-off@2x.png' %>);		-webkit-background-size:61px 27px;		}
	
	.show-toggle-v2{		background-image:url(<%= asset_path 'lists/delete_32.png' %>);		-webkit-background-size:16px 16px;		}
	.hide-toggle-v2{		background-image:url(<%= asset_path 'lists/plus_32.png' %>);			-webkit-background-size:16px 16px;		}
			
	.show-toggle-v1{		background-image:url(<%= asset_path 'ui/minus@2x.png' %>);			-webkit-background-size:12px 12px;		}
	.hide-toggle-v1{		background-image:url(<%= asset_path 'ui/plus@2x.png' %>);				-webkit-background-size:12px 12px;		}
	
	
	/*Checkboxes*/
	/*//////////*/
	.checkbox-v1{	background-image:url(<%= asset_path 'ui/checkbox@2x.png' %>);						-webkit-background-size:16px 18px;}
	.checked-v1{	background-image:url(<%= asset_path 'ui/checkbox-selected@2x.png' %>)!important;	-webkit-background-size:16px 18px;}
	.checkbox-v2{	background-image:url(<%= asset_path 'ui/checkbox2@2x.png' %>);					-webkit-background-size:16px 18px;}
	.checked-v2{	background-image:url(<%= asset_path 'ui/checkbox2-selected@2x.png' %>)!important;	-webkit-background-size:16px 18px;}
	.checkbox-v3{	background-image:url(<%= asset_path 'ui/empty@2x.png' %>);						-webkit-background-size:16px 16px;}
	.checked-v3{	background-image:url(<%= asset_path 'ui/cross@2x.png' %>)!important;				-webkit-background-size:16px 16px;}
	.checkbox-v4{	background-image:url(<%= asset_path 'ui/empty@2x.png' %>);						-webkit-background-size:16px 16px;}
	.checked-v4{	background-image:url(<%= asset_path 'ui/tick@2x.png' %>)!important;				-webkit-background-size:16px 16px;}
	
	.radio-v1{		background-image:url(<%= asset_path 'ui/radio@2x.png' %>);						-webkit-background-size:16px 18px;}
	.balled-v1{		background-image:url(<%= asset_path 'ui/radio-selected@2x.png' %>)!important;		-webkit-background-size:16px 18px;}
	.radio-v2{		background-image:url(<%= asset_path 'ui/radio2@2x.png' %>);						-webkit-background-size:16px 18px;}
	.balled-v2{		background-image:url(<%= asset_path 'ui/radio2-selected@2x.png' %>)!important;	-webkit-background-size:16px 18px;}


	/*//////////////////////////////////////////////////////////////*/
	/*------------------Classic Notifications-----------------------*/
	/*//////////////////////////////////////////////////////////////*/
	
	.green-notification p{		background-image:url(<%= asset_path 'lists/tick_32.png' %>);		-webkit-background-size:16px 16px;}
	.red-notification p{		background-image:url(<%= asset_path 'lists/delete_32.png' %>);	-webkit-background-size:16px 16px;}
	.blue-notification p{		background-image:url(<%= asset_path 'lists/info_32.png' %>);		-webkit-background-size:16px 16px;}
	.yellow-notification p{		background-image:url(<%= asset_path 'lists/warning_32.png' %>);	-webkit-background-size:16px 16px;}

	/*//////////////////////////////////////////////////////////////////////////////////////*/
	/*-------------------------Header Notification------------------------------------------*/
	/*//////////////////////////////////////////////////////////////////////////////////////*/
	
	.header-notification strong{ 	color:#666;}
	.warning-notification em{		background-image:url(<%= asset_path 'lists/warning_32.png' %>);	-webkit-background-size:16px 16px;}
	.close-notification em{			background-image:url(<%= asset_path 'lists/delete_32.png' %>);	-webkit-background-size:16px 16px;}
	.heart-notification em{			background-image:url(<%= asset_path 'lists/heart_32.png' %>);		-webkit-background-size:16px 16px;}
	.calendar-notification em{		background-image:url(<%= asset_path 'lists/calendar_32.png' %>);	-webkit-background-size:16px 16px;}
	.info-notification em{			background-image:url(<%= asset_path 'lists/info_32.png' %>);		-webkit-background-size:16px 16px;}		


	/*Blog*/
		
	.posted-by{		background-image:url(<%= asset_path 'blog/user@2x.png' %>);	-webkit-background-size:12px 12px;}
	.posted-at{		background-image:url(<%= asset_path 'blog/time@2x.png' %>);	-webkit-background-size:13px 12px;}
	.posted-cat{	background-image:url(<%= asset_path 'blog/cat@2x.png' %>);	-webkit-background-size:16px 11px;}
	.posted-tag{	background-image:url(<%= asset_path 'blog/tag@2x.png' %>);	-webkit-background-size:12px 12px;}
	.posted-more{	background-image:url(<%= asset_path 'blog/more@2x.png' %>);	-webkit-background-size:17px 12px;}
	
};
