<div class="container">
	<h1>Editing</h1>
	<h3><%= @project_summary_form.title.titlecase %></h3>
</div>

<%= render 'psf_form' %>

<%= link_to 'Show', @project_summary_form %> |
<%= link_to 'Back', home_path %>
