// @import "bootstrap";
// @import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html{ overflow-y: scroll; }

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#sign-in {
  color: #e34e47;
}

#sign-out {
  color: #e34e47; //6b6b6b
}

.discard {
  color: #923c47;
}
.accept {
  color: #5a742d;
}

/* approval status */

.approved-item {
  color: #923c47;
  &:hover {
    color: #923c47;
  }
}

.un-approved-item {
  color: #5a742d;
  &:hover {
    color: #5a742d;
  }
}

.summary-view {
  .label {
    font-size: 18px;
  }
}

/* psf-controls */
.psf-controls {
  .span4 {
    margin-bottom: 3px;
  }
}


/* footer */

footer {
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  p {
    font-size: 24px;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  body { 
    padding-top: 60px;
  }
}

/* Portrait tablet to landscape and desktop */
// @media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
// @media (max-width: 767px) {}

/* Landscape phones and down */
// @media (max-width: 480px) {
//   .hero-unit{
//     h1 {
//       font-size: 2em;
//     }
//   }
// }

@media screen and (max-width: 980px) {

  .navbar-fixed-top {
    // margin-bottom: 0px;
    position: fixed;

    .navbar-inner {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .hero-unit{
    h1 {
      font-size: 2em;
    }
  }
}

