@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html{ overflow-y: scroll; }

body {
  padding-top: 80px; /* should actually be 60px but I wanted more due to menu stlying */
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#sign-in {
  color: #e34e47;
}

#sign-out {
  color: #e34e47; //6b6b6b
}

.discard {
  color: #923c47;
}
.accept {
  color: #5a742d;
}

/* approval status */

.approved-item {
  color: #923c47;
  &:hover {
    color: #923c47;
  }
}

.un-approved-item {
  color: #5a742d;
  &:hover {
    color: #5a742d;
  }
}

.summary-view {
  .label {
    font-size: 18px;
  }
}

/* psf-controls */
.psf-controls {
  .span4 {
    margin-bottom: 3px;
  }
}


/* footer */

footer {
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* print */

@media print{ 
  body { 
    padding-top: 0px; 
  }

  h1 { 
    font-size: 15px;
    small {
      font-size: 13px;
    }
  }

  h2 {
    font-size: 13px;
  }

  h3 {
    font-size: 10px;
  }

  h4 {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  h5 {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  dl {

    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: table;
    content: "";
    line-height: 0;
    dt {
      float: left;
    }
    dd {
      margin-left: 180px;
    }

  }

  .navbar-fixed-top { 
    display: none; 
  } 

  .breadcrumb { 
    display: none; 
  } 

  .nav-tabs { 
    display: none; 
  } 

  .row-fluid .span3 { 
    display: none; 
  }

  .btn {
    display: none;
  }

  #psf-more-info {
    display: none;
  }

  hr {
    display: none;
  }

  #cbp-spmenu-s1, #cbp-spmenu-s2 {
    display:none;
  }

  footer { 
    display: none; 
  } 
}

/* Large desktop */
@media (min-width: 1200px) {
  body { 
    padding-top: 60px;
  }
}

/* Portrait tablet to landscape and desktop */
// @media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
// @media (max-width: 767px) {}

/* Landscape phones and down */
// @media (max-width: 480px) {
//   .hero-unit{
//     h1 {
//       font-size: 2em;
//     }
//   }
// }

@media screen and (max-width: 980px) {

  .footer-break { /* used as a fix for iphone menu non-scrollability */
    margin-top: 100px;
    margin-bottom: 40px;
  }

  footer {
    padding-bottom: 400px; /* used as a fix for iphone menu non-scrollability */
  }

  .navbar-fixed-top {
    // margin-bottom: 0px;
    position: fixed;

    .navbar-inner {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .hero-unit{
    h1 {
      font-size: 2em;
    }
  }
}

/*--- iPhone only CSS  ---*/

// @media screen and (max-device-width: 480px){


// }

