<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">NOSSYM</a>
		by Jacob Pagano
	</small>
	<nav>
		<ul>
		<li><%= link_to "About",   '#' %></li>
		<li><%= link_to "Contact", '#' %></li>
		<li><a href="https://github.com/Jacobichou">Developer</a></li>
	</ul>
	</nav>
</footer>