<footer class="center-text uppercase footer-text">

	<%= link_to "NOSSYM", home_path %>
	by Jacob Pagano&nbsp;|&nbsp;
	&copy; New Creation Christian Fellowship 2013

	<p class="center-text uppercase footer-text">
		<%= link_to "About",   about_path %>
		<%= link_to "Contact",	contact_path %>
		<%= link_to "Developer", "https://github.com/Jacobichou" %>
	</p>

</footer>
