<div class="sidebar-left">
  <div class="sidebar-scroll-left">
      <div class="sidebar-header-left">
        <!-- <= image_tag "misc/logo-sidebar.png", class: "sidebar-left-logo replace-2x", width:"125", alt:"img" %> -->
        <span class="sidebar-left-logo">NOSSYM</span>
          <a href="#" class="close-sidebar-left"></a>
      </div>
    
        <p class="sidebar-divider-text">NAVIGATION</p>
        
        <a href="#" class="nav-item coach-nav">WALKTHROUGH<em class="icon-page"></em></a>
        <a href="index.html" class="nav-item home-nav">DASHBOARD<em class="icon-active"></em></a>
        <a href="#" id="submenu-one" class="nav-item info-nav">FORMS<em class="icon-drop"></em></a>
            <div class="submenu submenu-one">
              <a href=""><em></em>PSF</a>
                <a href=""><em></em>Another Form</a>
                <a href=""><em></em>Another Form</a>
                <a href=""><em></em>Another Form</a>
                <a href=""><em></em>Another Form</a>
            </div>
        <a href="#" id="submenu-two" class="nav-item folio-nav">FOLIOS<em class="icon-drop"></em></a>
            <div class="submenu submenu-two">
              <a href="ffolio.html"><em></em>Full Column</a>
                <a href="onecol.html"><em></em>One Column</a>
                <a href="twocol.html"><em></em>Two Columns</a>
                <a href="swiper.html"><em></em>Swipables</a>
                <a href="filter.html"><em></em>Filter</a>
            </div>
        <a href="video.html" class="nav-item video-nav">VIDEOS<em class="icon-page"></em></a>
        <a href="blog.html" class="nav-item blog-nav">BLOG<em class="icon-page"></em></a>
        <a href="contact.html" class="nav-item mail-nav">CONTACT<em class="icon-page"></em></a>   
        
        <p class="sidebar-divider-text">NOTIFICATIONS</p>
        <div class="sidebar-decoration"></div>
        
        <div class="sidebar-notifications">
            <a href="#" class="info-sidebar">
                New Item Released<br>
                15th April 2013
            </a>
        
            <div class="sidebar-decoration"></div>
            
            <a href="#" class="update-sidebar">
                New Item Released<br>
                15th April 2013
            </a>
        
            <div class="sidebar-decoration"></div>
    
            <a href="#" class="folio-sidebar">
                New Item Released<br>
                15th April 2013
            </a>        
        </div>
        
        <div class="sidebar-decoration"></div>
        <p class="copyright-sidebar">Copyright 2013. All rights reserved!</p>
        
        
        <div class="sidebar-bottom-controls">
            <a href="#">
                <em class="twitter-bottom"></em>
                <p>Twitter</p>
            </a>
            <a href="#">
                <em class="facebook-bottom"></em>
                <p>Facebook</p>
            </a>
            <a href="#">
                <em class="close-bottom-left"></em>
                <p>Collapse</p>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</div>