
<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Forms</li>
		<li><%= link_to 'PSF', new_project_summary_form_path %></li>
		<li class="nav-header">Settings</li>
		<li><a href="#">Profile</a></li>
	</ul>
</div><!--/.well -->